In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sisian,AM,2022-07-22 02:21:24,39.5256,46.0251,56.75,90,0,2.71
1,1,Port Alfred,ZA,2022-07-22 02:21:24,-33.5906,26.8910,56.59,81,3,9.40
2,2,Zhanaozen,KZ,2022-07-22 02:21:25,43.3000,52.8000,84.43,30,28,21.77
3,3,El Dorado,US,2022-07-22 02:18:15,38.7666,-120.5177,88.43,22,0,6.13
4,4,Saldanha,ZA,2022-07-22 02:21:25,-33.0117,17.9442,44.65,80,100,8.03

In [13]:
#get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Zhanaozen,KZ,2022-07-22 02:21:25,43.3000,52.8000,84.43,30,28,21.77
3,3,El Dorado,US,2022-07-22 02:18:15,38.7666,-120.5177,88.43,22,0,6.13
6,6,Kapaa,US,2022-07-22 02:21:26,22.0752,-159.3190,85.98,71,40,17.27
10,10,Sal Rei,CV,2022-07-22 02:21:27,16.1833,-22.9167,75.20,77,100,7.45
19,19,Albany,US,2022-07-22 02:21:30,42.6001,-73.9662,79.21,72,0,3.65
22,22,Pangai,TO,2022-07-22 02:21:31,-19.8000,-174.3500,76.30,72,7,10.92
23,23,Mahibadhoo,MV,2022-07-22 02:21:31,3.7833,72.9667,82.81,74,95,22.17
33,33,Bayonet Point,US,2022-07-22 02:21:34,28.3267,-82.6834,85.95,88,17,3.27
39,39,Bubaque,GW,2022-07-22 02:21:36,11.2833,-15.8333,78.64,85,100,18.59
40,40,Georgetown,MY,2022-07-22 02:21:36,5.4112,100.3354,87.73,79,20,3.44

In [27]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [28]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [29]:
preferred_cities_df.notnull().sum()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2       Zhanaozen      KZ     84.43  43.3000   52.8000
3       El Dorado      US     88.43  38.7666 -120.5177
6           Kapaa      US     85.98  22.0752 -159.3190
10        Sal Rei      CV     75.20  16.1833  -22.9167
19         Albany      US     79.21  42.6001  -73.9662
22         Pangai      TO     76.30 -19.8000 -174.3500
23     Mahibadhoo      MV     82.81   3.7833   72.9667
33  Bayonet Point      US     85.95  28.3267  -82.6834
39        Bubaque      GW     78.64  11.2833  -15.8333
40     Georgetown      MY     87.73   5.4112  100.3354

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

#     "location": "48.8566, 2.3522"}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Zhanaozen,KZ,84.43,43.3000,52.8000,K.korabay 28A
3,El Dorado,US,88.43,38.7666,-120.5177,South Fork Group Campground
6,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Sal Rei,CV,75.20,16.1833,-22.9167,Marine Club Beach Resort
19,Albany,US,79.21,42.6001,-73.9662,
...,...,...,...,...,...,...
547,Labuhan,ID,81.57,-6.8844,112.2051,DoubleFAG
551,Mogadishu,SO,75.40,2.0371,45.3438,Hotel Juba
553,Shingu,JP,83.52,33.7333,135.9833,Shingu UI Hotel
554,Torbat-E Jam,IR,82.33,35.2440,60.6225,White building
556,Tambovka,RU,78.42,50.0969,128.0489,Lyzhnaya Gorka

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))